*{
    background-color: #ede8ee;
    color: #696969;

    font-family: 'Roboto Mono';
    font-weight: bold;
}

a{ text-decoration: none; }

.Page-Header{
    line-height: 25px;
    text-align: center;
}

img{
    max-width: 200px;
}

.Page-Header h1{
    font-size: xxx-large;
}


h3{
    text-decoration: underline;
}

.Page-Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Menu{
    margin-top: 100px;
    line-height: 75px;
    text-align: center;
}

.Recipe-Title{
    text-align: center;
}

.Recipe-Content{
    text-align: justify;
    max-width: 750px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}