*{
    background-color: #ede8ee;
    color: #696969;

    font-family: 'Roboto Mono';
    font-weight: bold;
}
a{ text-decoration: none; }

.Page-Header{
    line-height: 25px;
    text-align: center;
}

img{
    max-width: 200px;
}

h1{
    font-size: xxx-large;
}

.Menu{
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    line-height: 75px;
}